.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    object-fit: cover;
}

.avatarWithBorder {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 8px;
    object-fit: cover;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--purple-600);
}